#about {
  background: #ffffff;
  padding: 8rem 10% 6rem 10%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#about h5,
#about h1,
#about p,
.profile,
.intro-info .lead,
.info-list {
  padding: 0;
  margin: 0;
}

#about p {
  font-size: .9rem;
  font-family: "poppins-regular", sans-serif;
  line-height: 1.3rem;
}

#about h1 {
  color: #313131;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#about h3 {
  color: #313131;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "poppins-bold", sans-serif;
  margin-bottom: 1rem;
}

#about h5 {
  margin-bottom: 2rem;
}

.intro-info {
  margin: 0;
}

.profile-image {
  width: 25%;
  max-width: 10rem;
  min-width: 5rem;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  display: flex;
  border: 0.15rem solid #cc005f;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}
.intro-info img {
  width: 100%;
  object-fit: cover;
}
.intro-info .lead {
  text-align: left;
  font-size: .9rem;
}

.profile-and-skills {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile h3,
.skills h3 {
  border-bottom: 1px solid #a9a4a4;
  text-align: center;
}

.info-list {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
}

.info-list li {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.info-list li strong {
  color: #313131;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "poppins-bold", sans-serif;
  margin-top: 1.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skill-bars {
  padding: 1rem 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  position: relative;
  list-style: none;
  font-family: "poppins-regular", sans-serif;
  font-weight: 900;
  color: #313131;
  font-size: 1rem;
}

.skill-bars li {
  background: #e5e2e2;
  padding: 1rem;
  border-radius: 0.3rem;
  transition: all ease 0.3s;
  border: 1px solid transparent;
}

.skill-bars li:hover {
  border: 1px solid #cc005f;
  scale: 1.01;
}

.cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.cta-button {
    width: 100%;
    border: .2rem #313131 solid;
    margin: 1rem;
    padding: .8rem;
    font-weight: 900;
    transition: all ease .2s;
    cursor: pointer;
}

.cta-button:hover {
    border-color: #cc005f;
    color: #cc005f;
}

.download {
    width: 100%;
    border: .2rem #313131 solid;
    margin: 1rem;
    padding: .8rem;
    font-weight: 900;
    color: #ffffff;
    cursor: pointer;
    background: #313131;
}

@media (min-width: 768px) {
  .intro-info {
    padding: 0 10%;
  }

  #about .lead {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .profile-and-skills {
    flex-direction: row;
    column-gap: 3rem;
  }

  .profile h3,
  .skills h3 {
    text-align: left;
  }

  .cta {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
  }

  .download,
  .cta-button {
    width: 25%;
  }
}
